<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>21st Century</title>
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/orders.css">
</head>
<body>
     <div class="header">
        <img class="logo" src="/img/image-2.png" alt="">
       
    </div>
  
    <div class="view"> <div class="imgs">  <div class="line"></div><div class="lin2"></div>
        <div class="circle"><img src="/img/orders/confirm.png" alt=""> </div>
        <div class="circle"><img src="/img/orders/pack.png" alt=""></div>
        <div class="circle"><img src="/img/orders/distribute.png" alt=""></div>
        <div class="circle"><img src="/img/orders/near.avif" alt=""></div>
        <div class="circle"><img src="/img/orders/done.png" alt=""></div>
    </div>
       
            <div class="process">
                    <div class="hi confirm">Your order has been confirmed.</div>

                    <div class="hi pack">Your order has been packed.</div>

                    <div class="hi out">Order has reached destribution facilty.</div>

                    <div class="hi near">Package has arrived to the near by store.</div>

                    <div class="hi reach">Order has been delivered.</div>

            </div></div>
   
     
     <div class="footer">
        <div class="order"><img width="40px" src="/img/orders.png" alt=""></div>
        <div class="cart"><img width="40px" src="/img/cart.png" alt=""></div>
    </div>
    <script src="/home.js"></script>
    <script src="/order.js"></script>
</body>
</html>